body {
    margin: 0;
    overflow: auto;
    background: #d7d7d7;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    cursor: url('/p2/blackcircle.png') 10 10, auto;
  }



  #textLayer {
    position: relative;
    margin: 30px;
    padding:100px;
    font-size: 30px;
    line-height: 1.5;
    color: black;
    cursor: url('/p2/blackcircle.png') 10 10, auto;
    white-space: pre-wrap;
    max-width: 90%;
    font-family: "Arial", sans-serif;
  }

  #textLayer span {
    display: inline-block;
    position: relative;
    white-space: pre;
    background-color: wheat;
  }

  .title-container {
    position: fixed;
    margin:1%;
    width: 40%;
    top:0px;
    height:auto;
    color:white;
    -webkit-text-stroke: 1px black; 
    font-size: 70px;
    z-index: 10;
    font-family: "Arial", sans-serif;
  }

  .exhibition-container {
    position: fixed;
    right:5%;
    top:0px;
    color:white;
    -webkit-text-stroke: 1px black; 
    margin:1%;
    width: 50%;
    font-size: 70px;
    align-content: right;
    z-index: 10;
    font-family: "Arial", sans-serif;
  }

