
.navbar {
  display:flex;
  gap: 20px;
  padding: 5px 5px;
  margin:10px;
  background-color: transparent; 
  position: fixed;
  top: 0;
  left: 0;
}

/* .nav-item #home {
  width:65px;
  height:auto;
  transition: transform 0.3s, opacity 0.3s;
  color: rgb(255, 76, 76);
  font-size: 30px;
  font-family: "Cossette Texte", sans-serif;
} */


.nav-item:hover {
  border-radius: 0px;
  background-color: rgb(230, 255, 167);
}

.nav-item {
  display: inline-block;
  position: relative; /* hover-text 기준 */
  text-decoration: none;
  transition: transform 0.3s, opacity 0.3s;
  color: rgb(255, 76, 76);
  font-size: 15px;
  font-family: "Cossette Texte", sans-serif;
}


.nav-icon-active {
  width:40px;
  height:30px;
  transition: transform 0.3s, opacity 0.3s;
  object-fit: contain;
  background-color: rgb(230, 255, 167);
  border-radius: 0px;

}

.nav-icon {
    width:40px;
    height:30px;
    object-fit: contain;

  }

  /*hover effect*/
  .nav-item:hover .nav-icon {
    background-color: rgb(230, 255, 167);
    border-radius: 0px;
  }

  .hover-text {
    opacity: 0;
    position: absolute;
    top: 35px;
    left: 20px;
    transform: translateX(-50%);
    color: rgb(255, 76, 76);
    font-size: 11px;
    font-family: "Cossette Texte", sans-serif;
    pointer-events: none;
  }

  .nav-item:hover .hover-text {
   color: rgb(255, 76, 76);
   opacity:1;
  }

/*pixel icon*/
.image-container img{
  width: 150px;
  height:auto;
  left: 0%;
  top:3%;
  margin:70px;
  position: fixed;
}

/*description*/
.container1 {
  width: 25%;
  height:auto;
  left:0%;
  top: 25%;
  margin:70px;
  position:absolute;
  position: fixed;
}


h4 {
  font-family: "Cossette Texte", sans-serif;
  color: rgb(255, 76, 76);
  font-size: 40px;
  font-weight: 500;
}

h6 {font-family: "Cossette Texte", sans-serif;
  color: rgb(255, 76, 76);
  font-size: 15px;
  font-weight:500;
}

p, i {
  font-family: "Cossette Texte", sans-serif;
  color: rgb(255, 76, 76);

}

p {
  font-size: 15px;
}

i {
  font-size: 20px;
 }

 /*popup info*/
 .info {
  background-color:rgb(230, 255, 167);
 }

 .popup-text {
  display: none;          /* hide first */
  position: absolute;  
  background-color: rgb(230, 255, 167); 
  z-index: 50;
 }

 /*show up*/
 .info:hover .popup-text {
  display: inline-block; 
  z-index: 50;
 }
 


/*work images*/
.container {
  width: 55%;
  height:auto;
  right:0%;
  margin-top: 70px;
  position:absolute;
}

/*folder hover*/
img {
  width: 50px;
  cursor: pointer;
  border-radius: 8px;
}

@keyframes blink {
  0%, 100% { background-color: white; }
  50%      { background-color: rgb(230, 255, 167) }
}


