

/* @keyframes blink {
  0% { opacity: 0; } 
  50% { opacity: 0; } 
  100% { opacity: 1; } 
}

.blinking-text {
  position: absolute;
  animation: blink 1s infinite; 
  font-size: 15px;
  font-family: "Cossette Texte", sans-serif;
  color: rgb(255, 76, 76);
  left: 49%;
  top: 20%;
  text-align: center;
  transform: translateX(-50%, -50%);
} */

.container {
  position: relative;
  width: 100%;
}

/* .image {
  display: block;
  width: 20%;
  height: auto;
} */

.hover-img {
  position: absolute;
  top: 50px;   
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: auto;
}



/*title*/
.title {
  text-align: center;
  position: fixed;
  top: 40px;
  left:20%;
  right:20%;
  font-size: 50px; 
  color: rgb(255, 76, 76); 
  font-family: "Cossette Texte", sans-serif;
  
}

/* img{
   width: 50%;
  height: auto;
  position: absolute;
  top:15%;
  left: 28%;
} */

  /* text-shadow:
    0 0 8px rgb(255, 24, 62),
    0 0 12px rgb(255, 24, 62),
    0 0 20px rgb(255, 24, 62); */


/* img #computer {
  width: 50%;
  height: auto;
  position: absolute;
  top:15%;
  left: 28%;

} */


body {
    background-color:  rgb(255, 255, 255); 
    
}

/* dot container align*/
/* #dots {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  opacity: 0;             /* first not shows up */
  /* transition: opacity 1s ease;  /* fade in */
  /* pointer-events: none;   
} */ 

/* #dots.show {
  opacity: 1;             /* shows up */
  /* pointer-events: auto;   
} */ 
/* dot style
.dot {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: rgb(255, 76, 76);
  position: relative;
  transition: transform 0.2s ease, background-color 0.3s ease;
  cursor: pointer;
}
/* 
/* hover */
/* .dot:hover {
  background-color: rgb(230, 255, 167);
  transform: scale(1.0);
} */

/* hover image+text  */
/* .hover-img {
  position: absolute;
  top: 10px; 
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: auto;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
} */
/* 
.dot .hover-text {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 76, 76);
  font-size: 14px;
  font-family: "Cossette Texte", sans-serif;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
} */ 

/* hover image and text show up*/
/* .dot:hover .hover-img,
.dot:hover .hover-text {
  opacity: 1;
} */ 

.navbar {
  text-align: center;
  position: fixed;
  top: 60px;
  left:20%;
  right:20%;
  gap: 70px;
  padding: 40px;
  margin:30px;
  background-color: transparent; 
  position: fixed;
  z-index: 60; 

}

.main-computer {
  position: fixed;
  top:30%;
  left: 28%;
  z-index: -10; /*sent to back */
}

/* .nav-icon-home {
  width:55px;
  height:auto;
} */

.nav-item {
  display: inline-block;
  position: relative; /* hover-text 기준 */
  text-decoration: none;
  transition: transform 0.3s, opacity 0.3s;
  color: rgb(255, 76, 76);
  font-size: 15px;
  font-family: "Cossette Texte", sans-serif;
}


/*click*/
.nav-icon-click {
  display: inline-block;
  width:40px;
  height:auto;
  object-fit: contain;
  animation: blink 1s infinite;

}

.nav-icon {
  width:80px;
  height:40px;
  object-fit: contain;

  }

  /*hover effect*/
  .nav-item:hover .nav-icon {
    background-color: rgb(230, 255, 167);
    border-radius: 0px;
  }

  /*nav bar text*/
  .hover-text {
    opacity: 0;
    position: absolute;
    top: 45px;
    left: 21px;
    color: rgb(255, 76, 76);
    font-size: 11px;
    font-family: "Cossette Texte", sans-serif;
    pointer-events: none;
  }

  .nav-item:hover .hover-text {
   color: rgb(255, 76, 76);
   opacity:1;
  }

/*popup info*/
.info {
  background-color:rgb(230, 255, 167);
  display: inline-block;
  position:absolute;
  top:5%;
  left:5%;
 }

 .popup-text {
  display: none;          /* hide first */
  position: absolute;  
  width:900%;
  background-color: rgb(230, 255, 167); 
  z-index: 100;
  font-family: "Cossette Texte", sans-serif;
  font-size: 28px;
  color: rgb(255, 76, 76);
 }

 /*show up*/
 .info:hover .popup-text {
  display: inline-block; 
  z-index: 100;
 }

@keyframes blink {
  0%, 100% { background-color: white; }
  50%      { background-color: rgb(230, 255, 167) }
}



/* 
.about {
  position: absolute;
  width: 20px;
  color:  rgb(255, 76, 76);
  top: 0%;
  animation: blink 1s infinite;
  transform:translateY(-750%) translateX(3500%);
  font-size: 13px;
  font-family: "Cossette Texte", sans-serif;
} */
